<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>This Sample App is developed following the tutorial
	on <a href="http://rubyonrails.org/">Ruby on Rails</a>
	and is a reference for <a href="#">Aziz Kirumira</a>
</p>